.table {
    border-collapse: collapse;
    width: 900px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
}

.head {
    color: #fff;
    background-color: #504c4c;
}

.headCell {
    border: 2px solid #504c4c;
    width: 300px;
}

.tableRow:nth-child(2n) {
    background-color: #d0cdcd;
  }