.table {
    border-collapse: collapse;
    width: 900px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    color: #fff;
    background-color: #504c4c;
}

.headCell {
    border: 2px solid #504c4c;
}